<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for input in form %}
  <div class="row">
    <div class="col mb-3">
      <label for="{{ input.id_for_label }}" class="form-label">
        {{ input.label }}
      </label>
      {{ input }}
      <div class="invalid-feedback">
        {{ input.errors.0 }}
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="row justify-content-md-center my-5">
    <div class="col col-xl-3 d-grid">
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</form>
