{% extends 'base.html' %}

{% load static %}

{% block main %}
<div class="container-xl h-100">
  <form method="GET" class="container-xl my-2">
    <div class="row">
      <div class="col-lg ps-0 fw-semibold mt-3">
        {{ object_list.count }} resultados
      </div>
      <div class="col-lg mt-3 pe-0 d-flex justify-content-end">
        <div class="me-1">
          <a href="{% url 'edital_create' %}" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Adicionar
          </a>
        </div>
      </div>
    </div>
  </form>
  <div class="table-responsive-xl mt-3">
    <table class="table align-middle">
      <thead>
        <th class="col-4">NÚMERO</th> 
        <th class="col-3">VIGÊNCIA</th>
        <th class="col-4">DESCRIÇÃO</th>
        <th class="col-1">AÇÕES</th>
      </thead> 
      <tbody>
        {% for edital in object_list %}
        <tr>
          <td class="col-7">{{ edital.numero }}</td>
          <td class="col-4">{{ edital.vigencia }}</td>
          <td class="col-4">{{ edital.descricao }}</td>
          <td class="col-1">
            <a href="{% url 'edital_update' pk=edital.id %}" class="btn btn-warning">
              <i class="bi bi-pencil-fill" ></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>  
  </div>
  {% if paginator.num_pages > 1 %}
  <nav class="mt-4" aria-label="...">
    <ul class="pagination pagination-sm justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <button
          type="button"
          onclick="toPage('{{ page_obj.previous_page_number }}')"
          class="page-link"
        ><</button>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a href="#" class="page-link"><</a>
      </li>
      {% endif %}
      {% for numero_pagina in page_range %}
        {% if numero_pagina == paginator.ELLIPSIS %}
          <li class="page-item disabled">
            <a href="#" class="page-link">{{ numero_pagina }}</a>
          </li>
        {% else %}
          <li class="page-item {% if numero_pagina == page_obj.number %}active{% endif %}">
            <button
              type="button"
              onclick="toPage('{{ numero_pagina }}')"
              class="page-link"
            >
              {{ numero_pagina }} {{ paginator.number }}
            </button>
          </li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <button
          type="button"
          onclick="toPage('{{ page_obj.next_page_number }}')"
          class="page-link"
        >></button>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a href="#" class="page-link">></a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
{% endblock main %}
