{% extends 'base.html' %}

{% load utils %}

{% block main %}
<div class="container-xl h-100 mt-4">
  <h2>{{ object.nome }}</h2>
  <hr>
  <div class="row">
    <div class="col-lg-3">
      <p><b>CPF:</b> {{ object.cpf }}</p>
    </div>
    <div class="col-lg-3">
      <p><b>Data de nascimento:</b> {{ object.dt_nascimento }}</p>
    </div>
    <div class="col-lg-3">
      <p><b>E-mail:</b> {{ object.email }}</p>
    </div>
    <div class="col-lg-3">
      <p><b>PIS/PASEP:</b> {{ object.pis_pasep }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <p><b>Nome da mãe</b> {{ object.nome_mae }}</p> 
    </div>
    <div class="col-lg-3">
      <p><b>Dados Bancários:</b> {{ object.conta_bancaria }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <p><b>CEP:</b> {{ object.cep }}</p>
    </div>
    <div class="col-lg-6">
      <p><b>Logradouro:</b> {{ object.logradouro }}</p>
    </div>
    <div class="col-lg-3">
      <p><b>Número:</b> {{ object.numero }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <p><b>Cidade:</b> {{ object.cidade }}</p>
    </div>
    <div class="col-lg-3">
      <p><b>UF:</b> {{ object.uf }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <p><b>Documentação:</b>
        <a href="{{ bolsista.documentacao.url }}" download>
          {{ bolsista.documentacao.name|get_filename }}
        </a>
      </p>
    </div>
  </div>

  <div class="row justify-content-md-center my-4">
    <div class="col col-xl-3 d-grid">
      <div class="d-grid">
        <a href="{% url 'bolsista_update' pk=bolsista.id %}" class="btn btn-primary">Editar</a>
      </div>
    </div>
  </div>

  <h2 class="mt-5">Bolsas</h2>
  <div class="row">
    <div class="col-lg-3">
      <a href="{% url 'vinculo_bolsista_create' bolsista_id=bolsista.id %}" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Adicionar Bolsa
      </a>
    </div>
  </div>
  <div class="table-responsive-xl mt-3">
    <table class="table align-middle">
      <thead>
        <th>Bolsa</th> 
        <th>Edital</th>
        <th>Função</th>
        <th>Situação</th>
        <th>Ações</th>
      </thead>
      <tbody>
        {% for bolsa in bolsas %}
        <tr>
          <td>{{ bolsa.bolsa }}</td>
          <td>{{ bolsa.edital }}</td>
          <td>{{ bolsa.funcao }}</td>
          <td>{{ bolsa.situacao }}</td>
          <td>
            <a href="{% url 'vinculo_bolsista_update' bolsista_id=bolsista.id pk=bolsa.id %}" class="btn btn-warning">
              <i class="bi bi-pencil-fill"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock main %}
