{% extends 'base.html' %}

{% block main %}
<div class="container-xl h-100 mt-4">
  <h2>{% block title_form %}{% endblock title_form %}</h2>
  <hr>

  {% if bolsista %}
  <h2 class="mt-4">Bolsas</h2>
  <hr>
  <div>
    <a href="{% url 'vinculo_bolsista_create' pk=bolsista.id %}" class="btn btn-primary">Adicionar bolsa</a>
  </div>
  <div class="table-responsive-xl mt-2">
    <table class="table align-middle">
      <thead>
        <th class="col-4">BOLSA</th> 
        <th class="col-4">FUNÇÃO</th>
        <th class="col-4">SITUAÇÃO</th>
      </thead> 
      <tbody>
        {% for bolsa in bolsas %}
        <tr>
          <td class="col-4">{{ bolsa.bolsa }}</td>
          <td class="col-4">{{ bolsa.funcao }}</td>
          <td class="col-4">{{ bolsa.situacao }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>  
  </div>
  {% endif %}

</div>
{% endblock main %}
