{% extends 'base.html' %}

{% block main %}
<div class="container-xl h-100 mt-4">
  <h2>{% block title_form %}{% endblock title_form %}</h2>
  <hr>
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-lg-6 mt-2">
        <label for="{{ form.modalidade.id_for_label }}" class="form-label">
          {{ form.modalidade.label }}
        </label>
        {{ form.modalidade }}
        <div class="invalid-feedback">
          {{ form.modalidade.errors.0 }}
        </div>
      </div>

      <div class="col-lg-3 mt-2">
        <label for="{{ form.carga_horaria.id_for_label }}" class="form-label">
          {{ form.carga_horaria.label }}
        </label>
        {{ form.carga_horaria }}
        <div class="invalid-feedback">
          {{ form.carga_horaria.errors.0 }}
        </div>
      </div>

      <div class="col-lg-3 mt-2">
        <label for="{{ form.valor.id_for_label }}" class="form-label">
          {{ form.valor.label }}
        </label>
        {{ form.valor }}
        <div class="invalid-feedback">
          {{ form.valor.errors.0 }}
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center my-5">
      <div class="col col-xl-3 d-grid">
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock main %}
