{% extends 'base.html' %}

{% load utils %}

{% block main %}
<div class="container-xl h-100 mt-4">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Vincular bolsa a {{ bolsista.nome }}</h1>
    <hr>
    <div class="row">
      <div class="col-lg-4 mt-2">
        <label for="{{ form.bolsista.id_for_label }}" class="form-label">
          {{ form.bolsista.label }}
        </label>
        <select
          id="{{ form.bolsista.id_for_label }}"
          class="form-select"
          name="{{ form.bolsista.name }}"
          readonly
        >
          <option value="{{ bolsista.id }}" selected>{{ bolsista }}</option> 
        </select>
        <div class="invalid-feedback">
          {{ form.bolsista.errors.0 }}
        </div>
      </div>
      <div class="col-lg-4 mt-2">
        <label for="{{ form.edital.id_for_label }}" class="form-label">
          {{ form.edital.label }}
        </label>
        {{ form.edital }}
        <div class="invalid-feedback">
          {{ form.edital.errors.0 }}
        </div>
      </div>
      <div class="col-lg-4 mt-2">
        <label for="{{ form.bolsa.id_for_label }}" class="form-label">
          {{ form.bolsa.label }}
        </label>
        {{ form.bolsa }}
        <div class="invalid-feedback">
          {{ form.bolsa.errors.0 }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 mt-2">
        <label for="{{ form.funcao.id_for_label }}" class="form-label">
          {{ form.funcao.label }}
        </label>
        {{ form.funcao }}
        <div class="invalid-feedback">
          {{ form.funcao.errors.0 }}
        </div>
      </div>
      <div class="col-lg-4 mt-2">
        <label for="{{ form.situacao.id_for_label }}" class="form-label">
          {{ form.situacao.label }}
        </label>
        {{ form.situacao }}
        <div class="invalid-feedback">
          {{ form.situacao.errors.0 }}
        </div>
      </div>
      <div class="col-lg-4 mt-2">
        <label for="{{ form.dt_desligamento.id_for_label }}" class="form-label">
          {{ form.dt_desligamento.label }}
        </label>
        {{ form.dt_desligamento }}
        <div class="invalid-feedback">
          {{ form.dt_desligamento.errors.0 }}
        </div>
      </div>
    </div>

    <h2 class="h5 mt-5">Outorga</h2>
    <hr>
    <div class="row">
      <div class="col-lg-4 mt-2">
        <label for="{{ form.vigencia_outorga.id_for_label }}" class="form-label">
          {{ form.vigencia_outorga.label }}
        </label>
        {{ form.vigencia_outorga }}
        <div class="invalid-feedback">
          {{ form.vigencia_outorga.errors.0 }}
        </div>
      </div>
      <div class="col-lg-4 mt-2">
        <label for="{{ form.data_outorga.id_for_label }}" class="form-label">
          {{ form.data_outorga.label }}
        </label>
        {{ form.data_outorga }}
        <div class="invalid-feedback">
          {{ form.data_outorga.errors.0 }}
        </div>
      </div>
      <div class="col-lg-4 mt-2">
        <label for="{{ form.termo_outorga.id_for_label }}" class="form-label">
          {{ form.termo_outorga.label }}
        </label>
        {{ form.termo_outorga }}
        {% if vinculo.termo_outorga %}
        <div>
          <span>Atual: </span>
          <a href="{{ vinculo.termo_outorga.url }}" download>
            {{ vinculo.termo_outorga.name|get_filename }}
          </a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="row justify-content-md-center my-5">
      <div class="col col-xl-3 d-grid">
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </form>
</div>
<script>
let situacaoBolsista = document.getElementById('{{ form.situacao.id_for_label }}');
let dtDesligamento = document.getElementById('{{ form.dt_desligamento.id_for_label }}');
situacaoBolsista.addEventListener('change', (e) => {
  if (e.target.value == 'Desligado') {
    dtDesligamento.disabled = false;
  } else {
    dtDesligamento.disabled = true;
  }
})
</script>
{% endblock main %}
